# avoid ABI clash with PyTorch wheels
numpy<2
torchvision>=0.8.2
pillow>=8.0.0
transformers>=4.18.0
vllm==0.4.0
openai>=1.25.0
google-cloud-monitoring>=2.27.0
sentencepiece>=0.2.0
torch==2.1.2
triton==2.1.0 